.checkbox{
  margin-bottom: 30px;
  font-weight: bold;
}
.checkBox+label,.Radio+label{
  width:16px;
  height: 16px;
  border:1px solid black;
  display: -webkit-flex;
  display:flex;
}
.checkBox:checked+label,.Radio:checked+label{
   border:1px solid #d73d32;
   font-weight: 700;
}
.checkBox:checked+label::after,.Radio:checked+label::after{
  margin: auto;
  content: '\2714';
  color: red;
  width:8px;
  height:8px;
  line-height: 8px;
  text-align: center;
  font-size: 12px;
}
input{
  margin:0;
  display: none;//隐藏checkedbox
}

/* radio */
.radio{
  display: -webkit-flex;
  display: flex;
  width: 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.Radio+label{
  border-radius: 50%;
}
.Radio:checked+label::after{
  border-radius: 50%;
  width:8px;
  height:8px;
  line-height: 8px;
  content: ' ';
  background: #d73d32;
}

.checkBox1+label,.Radio1+label{
  width: 16px;
  height:16px;
  border:none;
  display: inline-block;
  background:url('bg.png') no-repeat;
}
.checkBox1+label{
  background-position:-25px -32px;
}
.Radio1+label{
  background-position: -24px -10px;
}
.checkBox1:checked+label{
  background-position: -60px -32px;
}
.Radio1:checked+label{
  background-position: -59px -10px;
}